// // xl
// @media (min-width: 1200px) {
//     #cartMenu {
//         overflow-y: scroll;
//         max-height: 50vh
//     }

//     #deleteIconFromMenuCart {
//         z-index: 100;
//         visibility: hidden;
//     }

//     #deleteIconFromMenuCart:hover {
//         visibility: visible
//     }

//     #menuItemContainer {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         #productCartImage {
//             max-width: 5ch;
//             max-height: 5ch;
//         }
//     }

//     #goToTheCartButton {
//         background-color: #F7DC6F;
//         text-align: center;
//         border-radius: 5px;
//         margin: 0 2.5% 0 2.5%;

//     }

//     #goToTheCartButton:hover {
//         background-color: #F29102;
//         color: #fff
//     }

//     #thereIsNotAnyProduct {
//         text-align: center;
//     }

//     #shoppingCartBagleIcon {
//         margin: auto;
//         margin-right: 0
//     }
// }

// lg
@media (min-width: 900px) and (max-width: 1200px) {
    #cartMenu {
        overflow-y: scroll;
        max-height: 50vh;
    }

    #deleteIconFromMenuCart {
        z-index: 100;
        visibility: hidden;
    }

    #deleteIconFromMenuCart:hover {

        visibility: visible;
    }

    #menuItemContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #productCartImage {
            max-width: 5ch;
            max-height: 5ch;
        }
    }

    #goToTheCartButton {
        background-color: #F7DC6F;
        text-align: center;
        border-radius: 5px;
        margin: 0 2.5% 0 2.5%;

    }

    #goToTheCartButton:hover {
        background-color: #F29102;
        color: #fff
    }

    #thereIsNotAnyProduct {
        text-align: center;
    }

    #shoppingCartBagleIcon {
        margin: auto;
        margin-right: 0
    }
}

// // md
// @media (min-width: 600px) and (max-width: 900px) {
//     #cartMenu {
//         overflow-y: scroll;
//         max-height: 50vh
//     }

//     #deleteIconFromMenuCart {
//         z-index: 100;
//         visibility: hidden;
//     }

//     #deleteIconFromMenuCart:hover {
//         visibility: visible
//     }

//     #menuItemContainer {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         #productCartImage {
//             max-width: 5ch;
//             max-height: 5ch;
//         }
//     }

//     #goToTheCartButton {
//         background-color: #F7DC6F;
//         text-align: center;
//         border-radius: 5px;
//         margin: 0 2.5% 0 2.5%;

//     }

//     #goToTheCartButton:hover {
//         background-color: #F29102;
//         color: #fff
//     }

//     #thereIsNotAnyProduct {
//         text-align: center;
//     }

//     #shoppingCartBagleIcon {
//         margin: auto;
//         margin-right: 0
//     }
// }

// // sm
// @media (max-width: 600px) {
//     #cartMenu {
//         overflow-y: scroll;
//         max-height: 50vh
//     }

//     #deleteIconFromMenuCart {
//         z-index: 100;
//         visibility: hidden;
//     }

//     #deleteIconFromMenuCart:hover {
//         visibility: visible
//     }

//     #menuItemContainer {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         #productCartImage {
//             max-width: 5ch;
//             max-height: 5ch;
//         }
//     }

//     #goToTheCartButton {
//         background-color: #F7DC6F;
//         text-align: center;
//         border-radius: 5px;
//         margin: 0 2.5% 0 2.5%;

//     }

//     #goToTheCartButton:hover {
//         background-color: #F29102;
//         color: #fff
//     }

//     #thereIsNotAnyProduct {
//         text-align: center;
//     }

//     #shoppingCartBagleIcon {
//         margin: auto;
//         margin-right: 0
//     }
// }