// xl
@media (min-width: 1200px) {
    .container_CartPage {
        width: 100%;
        margin-top: 20vh;

        #closeIcon {
            display: flex;
            justify-self: flex-end
        }

        #productsContainer {
            background-color: #fff;
            width: 60%;
            height: 50vh;
            overflow-y: scroll;
            margin-top: 1.5%;
            padding: 2.5% 2.5% 2.5% 0;
            border-radius: 5px;
        }

        #boxProducts {
            display: flex;
            justify-content: space-between;
        }

        #deleteProductIcon {
            display: flex;
            align-items: center;
            width: 5%;
            height: auto;

            &:hover {
                background: none
            }

            .MuiSvgIcon-root {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    border-radius: 30px;
                    padding: 10px
                }
            }
        }

        #containerProduct {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #imageContainer {
                display: flex;
                justify-content: center;
                min-width: 10ch;
                max-height: 10ch;
            }

            #productCartImage {
                max-width: 10ch;
                max-height: 10ch;
            }

            #name {
                display: flex;
                justify-content: flex-start;
                margin-left: 2.5%;
            }

            #price {
                display: flex;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.025);
                border-radius: 5px
            }
        }

        .container_TotalAndButton {
            margin-top: 1.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 60%;
            background-color: #fff;
            height: 10vh;
            padding-right: 2.5vw;
            border-radius: 5px;

            #containerTotal {
                width: 95%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid gray
            }
        }

        #containerButton {
            width: 60%;
            display: flex;
            justify-content: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #button {
                width: 10%;
                min-width: 200px;
                display: flex;
                justify-self: flex-end;
                background-color: #F7DC6F;
                color: #000;

                &:hover {
                    background-color: #F29102;
                    color: #fff;
                }
            }
        }
    }
}

// lg
@media (min-width: 900px) and (max-width: 1200px) {
    .container_CartPage {
        width: 100%;
        margin-top: 20vh;

        #closeIcon {
            display: flex;
            justify-self: flex-end
        }

        #productsContainer {
            background-color: #fff;
            width: 70%;
            height: 50vh;
            overflow-y: scroll;
            margin-top: 1.5%;
            padding: 2.5% 2.5% 2.5% 0;
            border-radius: 5px;
        }

        #boxProducts {
            display: flex;
            justify-content: space-between;
        }

        #deleteProductIcon {
            display: flex;
            align-items: center;
            width: 5%;
            height: auto;

            &:hover {
                background: none
            }

            .MuiSvgIcon-root {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    border-radius: 30px;
                    padding: 10px
                }
            }
        }

        #containerProduct {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #imageContainer {
                display: flex;
                justify-content: center;
                min-width: 10ch;
                max-height: 10ch;
            }

            #productCartImage {
                max-width: 10ch;
                max-height: 10ch;
            }

            #name {
                display: flex;
                justify-content: flex-start;
                margin-left: 2.5%;
            }

            #price {
                display: flex;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.025);
                border-radius: 5px
            }
        }

        .container_TotalAndButton {
            margin-top: 1.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 70%;
            background-color: #fff;
            height: 10vh;
            padding-right: 2.5vw;
            border-radius: 5px;

            #containerTotal {
                width: 95%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid gray
            }
        }

        #containerButton {
            width: 70%;
            display: flex;
            justify-content: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #button {
                width: 10%;
                min-width: 200px;
                display: flex;
                justify-self: flex-end;
                background-color: #F7DC6F;
                color: #000;

                &:hover {
                    background-color: #F29102;
                    color: #fff;
                }
            }
        }
    }
}

// md
@media (min-width: 600px) and (max-width: 900px) {
    .container_CartPage {
        width: 100%;
        margin-top: 20vh;

        #closeIcon {
            display: flex;
            justify-self: flex-end;
        }

        #productsContainer {
            background-color: #fff;
            width: 80%;
            height: 50vh;
            overflow-y: scroll;
            margin-top: 1.5%;
            padding: 2.5% 2.5% 2.5% 0;
            border-radius: 5px;
        }

        #boxProducts {
            display: flex;
            justify-content: space-between;
        }

        #deleteProductIcon {
            display: flex;
            align-items: center;
            width: 5%;
            height: auto;

            &:hover {
                background: none
            }

            .MuiSvgIcon-root {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    border-radius: 30px;
                    padding: 10px
                }
            }
        }

        #containerProduct {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #imageContainer {
                display: flex;
                justify-content: center;
                min-width: 10ch;
                max-height: 10ch;
            }

            #productCartImage {
                max-width: 10ch;
                max-height: 10ch;
            }

            #name {
                display: flex;
                justify-content: flex-start;
                margin-left: 2.5%;
            }

            #price {
                display: flex;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.025);
                border-radius: 5px
            }
        }

        .container_TotalAndButton {
            margin-top: 1.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 80%;
            background-color: #fff;
            height: 10vh;
            padding-right: 2.5vw;
            border-radius: 5px;

            #containerTotal {
                width: 95%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid gray
            }
        }

        #containerButton {
            width: 80%;
            display: flex;
            justify-content: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #button {
                width: 10%;
                min-width: 200px;
                display: flex;
                justify-self: flex-end;
                background-color: #F7DC6F;
                color: #000;

                &:hover {
                    background-color: #F29102;
                    color: #fff;
                }
            }
        }
    }
}

// sm
@media (max-width: 600px) {
    .container_CartPage {
        width: 100%;
        margin-top: 20%;

        #closeIcon {
            display: flex;
            justify-self: flex-end;
        }

        #productsContainer {
            background-color: #fff;
            width: 90%;
            height: 50vh;
            overflow-y: scroll;
            margin-top: 5%;
            padding: 2.5% 2.5% 2.5% 0;
            border-radius: 5px;
        }

        #boxProducts {
            display: flex;
            justify-content: space-between;
        }

        #deleteProductIcon {
            display: flex;
            align-items: center;
            width: 20%;
            height: auto;

            &:hover {
                background: none
            }

            .MuiSvgIcon-root {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    border-radius: 30px;
                    padding: 10px
                }
            }
        }

        #containerProduct {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2.5%;
            margin-bottom: 5%;

            #imageContainer {
                display: flex;
                justify-content: center;
                min-width: 10ch;
                max-height: 10ch;
            }

            #productCartImage {
                max-width: 10ch;
                max-height: 10ch;
            }

            #name {
                display: flex;
                justify-content: flex-start;
                margin-left: 2.5%;
            }

            #price {
                display: flex;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.025);
                border-radius: 5px
            }
        }

        .container_TotalAndButton {
            margin-top: 5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 90%;
            background-color: #fff;
            height: 10vh;
            padding-right: 2.5vw;
            border-radius: 5px;


            #containerTotal {
                width: 95%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid gray
            }
        }

        #containerButton {
            width: 90%;
            display: flex;
            justify-content: center;
            margin-top: 10%;
            margin-bottom: 20%;

            #button {
                width: 10%;
                min-width: 200px;
                display: flex;
                justify-self: flex-end;
                background-color: #F7DC6F;
                color: #000;

                &:hover {
                    background-color: #F29102;
                    color: #fff;
                }
            }
        }
    }
}