.container_CardProduct {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20ch;
    height: 20ch;

    border-radius: 15px;
    background: #fff;
    box-shadow: 2.5px 2.5px 5px rgba(255, 255, 255, 0.452);

    img {
        max-width: 17.5ch;
        max-height: 17.5ch;
    }

    // background-color: blue;
}