// xl
@media (min-width: 1200px) {
    .container_ProductModalView {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 110;

        #buttonIcon {
            position: absolute;
            padding: 2.5px;
            top: 1%;
            right: 0%;
            display: flex;
            align-items: center;
            height: auto;

            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }
        }

        #closeIcon {
            color: #fff;
            font-size: 30px;
            padding: 10px;

            &:hover {
                border-radius: 30px;
            }
        }

        #imagesIndexContainer {
            position: absolute;
            left: 2%;
            top: 3%;
            width: 25%;
        }

        #imagesIndex {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: #000;
            font-size: 24px;
            width: 10vh;
            height: 5vh;
            border-radius: 20px;
            z-index: 100;
        }

        #productImageContainer {
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            height: 50ch;
            margin: auto;
            margin-bottom: 12.5%;
        }

        #productImage {
            width: 100%;
            display: flex;
            align-items: start;
            height: 45ch;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
            }
        }

        #arrowButtonsContainer {
            position: absolute;
            height: auto;
            left: 0;
            top: 45%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #arrowLeftIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            margin-left: 15%;

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 55px;
            }
        }

        #arrowRightIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            margin-right: 15%;

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 55px;
            }
        }
    }
}

// lg
@media (min-width: 900px) and (max-width: 1200px) {
    .container_ProductModalView {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);

        z-index: 110;

        #buttonIcon {
            position: absolute;
            padding: 2.5px;
            top: 1%;
            right: 1%;
            display: flex;
            align-items: center;
            height: auto;

            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }
        }

        #closeIcon {
            color: #fff;
            font-size: 30px;
            padding: 10px;

            &:hover {
                border-radius: 30px;
            }
        }

        #imagesIndexContainer {
            position: absolute;
            left: 2%;
            top: 3%;
            width: 25%;
        }

        #imagesIndex {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: #000;
            font-size: 24px;
            width: 10vh;
            height: 5vh;
            border-radius: 20px;
            z-index: 100;
        }

        #productImageContainer {
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            height: 50ch;
            margin: auto;
            margin-bottom: 12.5%;
        }

        #productImage {
            width: 100%;
            display: flex;
            align-items: start;
            height: 45ch;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
            }
        }

        #arrowButtonsContainer {
            position: absolute;
            height: auto;
            left: 0;
            top: 45%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #arrowLeftIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            margin-left: 2.5%;

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 55px;
            }
        }

        #arrowRightIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            margin-right: 2.5%;

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 55px;
            }
        }
    }
}

// md
@media (min-width: 600px) and (max-width: 900px) {
    .container_ProductModalView {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);

        z-index: 110;

        #buttonIcon {
            position: absolute;
            padding: 2.5px;
            top: 1%;
            right: 1%;
            display: flex;
            align-items: center;
            height: auto;

            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }
        }

        #closeIcon {
            color: #fff;
            font-size: 30px;
            padding: 10px;

            &:hover {
                border-radius: 30px;
            }
        }

        #imagesIndexContainer {
            position: absolute;
            left: 2%;
            top: 3%;
            width: 25%;
        }

        #imagesIndex {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: #000;
            font-size: 24px;
            width: 10vh;
            height: 5vh;
            border-radius: 20px;
            z-index: 100;
        }

        #productImageContainer {
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            height: 50ch;
            margin: auto;
            margin-bottom: 12.5%;
        }

        #productImage {
            width: 100%;
            display: flex;
            align-items: start;
            height: 45ch;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
            }
        }

        #arrowButtonsContainer {
            position: absolute;
            height: auto;
            left: 0;
            top: 45%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #arrowLeftIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 55px;
            }
        }

        #arrowRightIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 55px;
            }
        }
    }
}

// sm
@media (max-width: 600px) {
    .container_ProductModalView {
        position: absolute;
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);

        z-index: 110;
        #buttonIcon {
            position: absolute;
            padding: 2.5px;
            top: 1%;
            right: 1%;
            display: flex;
            align-items: center;
            height: auto;

            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }
        }

        #closeIcon {
            color: #fff;
            font-size: 40px;
            padding: 10px;

            &:hover {
                border-radius: 30px;
            }
        }

        #imagesIndexContainer {
            position: absolute;
            left: 2%;
            top: 3%;
            width: 25%;
        }

        #imagesIndex {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: #000;
            font-size: 24px;
            width: 10vh;
            height: 5vh;
            border-radius: 20px;
            z-index: 100;
        }

        #productImageContainer {
            position: absolute;
            top: 25%;
            left: 0; 
            width: 100%;
            height: 50ch;
            margin: auto;
            margin-bottom: 12.5%;
        }

        #productImage {
            width: 100%;
            display: flex;
            align-items: start;
            height: 45ch;
            object-fit: contain;

            img {
                width: 100%;
                height: auto;
            }
        }

        #arrowButtonsContainer {
            position: absolute;
            height: auto;
            left: 0; 
            top: 85%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #arrowLeftIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 70px;
            }
        }

        #arrowRightIconButton {
            &:hover {
                background-color: rgba(333, 333, 333, 0.1);
            }

            .MuiSvgIcon-root {
                color: #fff;
                font-size: 70px;
            }
        }
    }
}