// xl
@media (min-width: 1200px) {
    .container_ProductTabNav {
        width: 100%;
        margin-bottom: 2.5vh;
    }
}

// lg
@media (min-width: 900px) and (max-width: 1200px) {
    .container_ProductTabNav {
        width: 100%;
        margin-bottom: 2.5vh;
    }
}

// md
@media (min-width: 600px) and (max-width: 900px) {
    .container_ProductTabNav {
        width: 100%;
        margin-bottom: 2.5vh;
    }
}

// sm
@media (max-width: 600px) {
    .container_ProductTabNav {
        width: 100%;
        margin-bottom: 2.5vh;
    }
}